/* universal */
@media only screen and (max-width: 1024px) or (max-width: 470px){
  .site-container {
    width: 100%;
  }
}

* {
  font-size: 18px;
  line-height: 1.4;
}

.site-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}

/* logo and nav */


/* banner and title */


/* intro to yopa commuter guide */


/* styles for maps api */


/* results table */


/* footer */
