/* universal */
@media only screen and (max-width: 1024px) or (max-width: 470px){
  .site-container {
    width: 100%;
  }
}

* {
  font-size: 18px;
  line-height: 1.4;
}

.site-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* logo and nav */


/* banner and title */
.banner-title {
  text-align: center;
}

/* intro to yopa commuter guide */


/* styles for maps api */
#interactiveElements {
  
}

#map-canvas {
  width: auto;
}

#visualization {
  float: right;
}

#legend {
  background: #FFF;
  margin: 10px;
  padding: 5px;
  width: 150px;
}

#legend p {
  font-weight: bold;
  margin-top: 3px;
}

#legend div {
  clear: both;
}

.color {
  height: 12px;
  width: 12px;
  margin-right: 3px;
  float: left;
  display: block;
}

.high {
  color: #F00;
}

.medium {
  color: #0F0;
}

.low {
  color: #00F;
}

.high, .medium, .low {
  font-weight: bold;
}

/* results table */
.results-table {
  justify-content: center;
  width: 100%;
}
.results-table h1, .results-table p {
  text-align: center;
}

/* footer */
